ACTION=="add", ATTR{idProduct}=="a4a2", ATTR{idVendor}=="0525", ATTR{manufacturer}=="Connected Cars", ATTR{bConfigurationValue}!="3", ATTR{bConfigurationValue}="3"
