# default machine to build
MACHINE ?= "rpi3"

# defailt distro to build
DISTRO ?= "gnx"

# use RPM packages
PACKAGE_CLASSES ?= "package_rpm"

# Monitor the disk space during the build. If there is less that 1GB of space or less
# than 100K inodes in any key build location (TMPDIR, DL_DIR, SSTATE_DIR), gracefully
# shutdown the build. If there is less that 100MB or 1K inodes, perform a hard abort
# of the build. The reason for this is that running completely out of space can corrupt
# files and damages the build in ways which may not be easily recoverable.
# It's necesary to monitor /tmp, if there is no space left the build will fail
# with very exotic errors.
BB_DISKMON_DIRS ??= "\
    STOPTASKS,${TMPDIR},1G,100K \
    STOPTASKS,${DL_DIR},1G,100K \
    STOPTASKS,${SSTATE_DIR},1G,100K \
    STOPTASKS,/tmp,100M,100K \
    ABORT,${TMPDIR},100M,1K \
    ABORT,${DL_DIR},100M,1K \
    ABORT,${SSTATE_DIR},100M,1K \
    ABORT,/tmp,10M,1K"

# CONF_VERSION is increased each time build/conf/ changes incompatibly and is used to
# track the version of this file when it was generated. This can safely be ignored if
# this doesn't mean anything to you.
CONF_VERSION = "1"

#
# Shared-state files from other locations
#
# Shared state files are prebuilt cache data objects which can used to
# accelerate build time. This variable can be used to configure the system to
# search other mirror locations for these objects before it builds the data
# itself.
SSTATE_MIRRORS = " \
    file://.* http://sstate.yoctoproject.org/dev/PATH;downloadfilename=PATH \n \
    file://.* http://sstate.yoctoproject.org/3.0.2/PATH;downloadfilename=PATH \n \
    file://.* http://sstate.yoctoproject.org/3.1/PATH;downloadfilename=PATH \n \
"
